<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <% if category.note.present? %>
    <p class="category-note">
      <small><%= category.note %></small>
    </p>
  <% end %>
</div>